@media (max-width: 240px) {
   /* really tiny screens */
    .myAnimation{

    }
}
@media (min-width: 241px) and (max-width: 319px) {
   /* a little bit bigger screens */
    .myAnimation{

    }
}
@media (min-width: 320px) and (max-width: 767px) {
   /* Basically up to, but not including an iPad */
    .myAnimation{

    }
}
@media (min-width: 768px) {
   /* iPad and bigger */
    .myAnimation{
        width: 66%;
    }
}

.myJumbotron {
    padding:2rem 1rem;
    margin-bottom:2rem;
    background-color:#e9ecef;
    border-radius:.3rem;
    height: 100vh !important;
}
canvas{
    border: 10px solid #f1f1f1;
}
